<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=session['mensaje']%><h1>
	<h1><%=session['frase']%><h1>
<form>
	<input type="text" name="txtletra">
	<input type="submit" value="probar">
</form>
	<h3><%=session['frase']%><h3>
</body>
</html>